<div class="container">
  <div id="carousel-example-generic" class="carousel slide banner-slides" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("banner_guiyi_01.jpg") %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag("banner_guiyi_02.jpg") %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag("banner_guiyi_03.jpg") %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron">
    <h2>我们是谁?</p>
    <p>我们是一群从BAT以及著名外企出来的资深程序员，坚信技术的力量，希望用技术服务于大众。</p>
  </div>

  <div class="jumbotron">
    <h2>我们能做什么?</p>
      <p>我们能提供最专业的诸如网站开发，Android、iOS开发，大数据解决方案等与互联网技术有关的一切服务。您的需求就是我们的业。</p>
  </div>

  <div class="jumbotron">
    <h2>联系方式</h2>
    <p>我们的官网将在后续完善，目前如有合作意愿，可发邮至guiyitech@126.com</p>
  </div>

</div>
